<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">  <!-- () - event binding [()] - two a binding []- property binding -->
            <form action="" [formGroup]="form" (ngSubmit)="authenticate()">
                <div class="mb-3">
                    <input type="text" placeholder="enter username" formControlName="username">
                    <div class="text-danger" *ngIf="username?.touched && username?.invalid">invalid username</div>
                </div>
                <div class="mb-3">
                    <input type="password" placeholder="enter password" formControlName="password">
                    <div class="text-danger" *ngIf="password?.touched && password?.invalid">invalid password</div>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-info" [disabled]="form.invalid">login</button>
                </div>
            </form>

        </div>
        <div class="col-3"></div>
    </div>
</div>
