<div class="container">
    <div class="row">
        <div class="col-4">
            
        </div>
        <div class="col-4">
            <h2>Multiplication</h2>
            <div class="mb-2 mt-5">
                <input type="text" class="form-control" [(ngModel)]="num1" >
            </div>
            <div class="mb-2">
                <input type="text" class="form-control" [(ngModel)]="num2">
            </div>
            <div class="b-3">
                <button type="submit" class="btn btn-outline-success" (click)="multiplynum()">Multiply</button>
            </div>
        </div>
        <div class="col-4">
            output={{result}}
        </div>
    </div>
    </div>
